@model IEnumerable<Product>

@{
    ViewData["Title"] = "Browse";
}

<h1>Browse</h1>

@* action="/Customer/AddToCart/@product.Id" *@
<a href="/Customer/ViewCart" class="btn btn-outline-primary">View Cart</a>
<br />
<br />
<div class="row">
    @foreach (var product in Model)
    {
        @if (product.Quantity > 0)
        {
            <div class="col-md-4">
                <div class="card">
                <img src="@product.ImagePath" class="card-img-top" alt="Product image" width="10"  height="160">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <p class="card-text">@ViewBag.categories[product.CategoryId-2].Name</p>
                    <p class="card-text">Price: @product.Price LE</p>
                    <p class="card-text">Quantity: @product.Quantity</p>
                    <form asp-action="AddToCart" asp-controller="Customer" asp-route-Id="@product.Id">
                        <button value="submit" class="btn btn-outline-primary">Add To Cart</button>
                    </form>
                </div>
            </div>
        </div>
        }
    }
</div>

