@model Product
@{
    ViewData["Title"] = "Delete";
}

<div>
    <form method="post" asp-action="DeleteItem" asp-controller="Adminestrator">

        <div>
            <label asp-for="Name"></label>
     
            <span>@Model.Name</span>
        </div>
        <br />

        <div>
            <label asp-for="Description"></label>
        
            <span>@Model.Description</span>
        </div>
        <br />
        <div>
            <label asp-for="Price"></label>
            <span>@Model.Price</span>
        </div>
        <br />
        <div>
            <label asp-for="Quantity"></label>
            <span>@Model.Quantity</span>
        </div>
        <br />
        <div>
            <label asp-for="CategoryId"></label>
            <span>@ViewBag.category</span>
        </div>

        <br />
        <br />
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
</div>